#top_news_block {
    grid-area: top_news;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vh;
}

.top_news_item {
    width: 100%;
    box-shadow: 2px 5px 5px black;
}

.top_news_content {
    float: left;
    width: 100%;
    height: 75%;
    background: red
}

.top_news_content img {
    width: 100%;
    height: 100%;
}

.top_news_display {
    float: left;
    width: 100%;
    height: 25%;
    background: #334;
    border: 1px solid #333;
}

.top_news_display hr {
    width: 35%;
    background-color: #fafafa;
    height: 1.5px;
}

.top_news_title {
    text-align: center;
    font-size: 1.2vw;
    padding-top: 2vh;
}