#main_page {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: auto;
    grid-gap: 4vh;
    grid-template-areas: 
        "top_news top_news"
        "news ad";
    
    color: white;
    width: 80%;
    height: auto;
    margin: 10vh auto;
    min-height: 200%;
}