#main_page {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    grid-template-rows: 4fr 3fr 1fr;
    
    color: white;
    background-color: rgb(220, 53, 69);
    width: 80%;
    height: auto;
    margin: 10vh auto;
}