footer {
    position: relative;
    text-align: center;
    background-color: #2d3436;
    width: 100%;
    height: auto;
    padding: 3vh;
    z-index: 100;
    color: #fafafa;
    border-top: 1px dashed rgb(220, 53, 69);
  }