* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
  }
  
  #news {
    width: 88.5vw;
    height: auto;
    position: absolute;
    top: 100em;
    left: 5.75vw;
  }
  
  #title_news_block {
    width: 88.5vw;
    height: 20%;
    margin: 0 auto;
    color: #333;
  }
  
  #title_news {
    font-size: 3.75em;
    text-align: center;
  }
  
  #news_block {
    margin-top: 5vw;
    padding: 1.35em;
    height: 80%;
    background-color: #dfe4ea;
    box-shadow: 2px 10px 10px silver;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1vw solid silver
  }
  
  .article {
    width: 26vw;
    height: 30vw;
    background-color: #747d8c;
    margin: 0.9vw 0 0.9vw 0;
    box-shadow: 2px 7px 7px silver;
  }
  
  .article_tag {
    width: 100%;
    height: 10%;
    background-color: #747d8c;
  }
  
  .article_tag p {
    padding: 0.6em;
    color: #fafafa;
  }
  
  .article_img {
    width: 100%;
    height: 55%;
  }
  
  .article_img img {
    width: 100%;
    height: 100%;
  }
  
  .article_display {
    width: 100%;
    height: 35%;
  }
  
  .article_display p:first-child {
    padding: 0.5em;
    font-size: 1.2vw;
    color: white;
  }
  
  .article_display p:last-child {
    padding: 0.3em;
    padding-left: 1em;
    font-size: 1.5vw;
    color: white;
  }
  
  #button_block button {
    display: block;
    margin: 3em auto;
    border: none;
    font-size: 1.3vw;
    padding: 0.7em;
    transition: 0.3s;
    color: #fafafa;
    background-color: #d63031;
  }

  #button_block button:hover {
    box-shadow: 0px 7px 7px silver;
  }
  
  #button_block button:hover {
    background-color: #EA2027;
  }
  