body{
    font-family: 'Oswald', sans-serif;
}

#top_news {
    height: 48.7vw;
    width: 88.5vw;
    margin: 25em auto;
}

#title_top_news_block {
    height: 20%;
    width: 88.5vw;
    color: #333;
}

#title_top_news {
    font-size: 3.75em;
    text-align: center;
}

#top_news_block { 
    padding: 2.7vw;
    border: 0.1vw solid silver;
    height: 80%;
    background-color: #dfe4ea;
    box-shadow: 2px 10px 10px silver;
    display: flex;
}

.post {
    width: 83vw;
    height: 100%;
    background-color: #747d8c; 
    display: none;
}

.post_img {
    width: 65%;
    height: 100%;
    float: left;
}

.post_img img {
    width: 100%;
    height: 100%;
}

.post_display {
    width: 35%;
    height: 100%;
    background-color: #b2bec3;
    color: #333;
    float: left;
}

.post_display_title {
    width: 100%;
    height: 15%;
}

.post_display_title p {
    padding-top: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
    color: #2f3640;
    /* text-shadow: 1px 1px 1px #fafafa; */
}

.post_display_tag {
    width: 100%;
    height: 8%;
    background-color: rgb(52, 58, 64);
    box-shadow: 2px 4px 4px grey;
}

.post_display_tag p {
    padding: 0.5vw;
    padding-left: 1.5vw;
    font-size: 1.2vw;
    color: white;
}

.post_display_short_text {
    width: 100%;
    height: 77%;
}

.post_display_short_text p {
    padding: 1vw;
    font-size: 1.4vw;
    opacity: 0.7;
}

.post_display_short_text button {
    padding: 0;
    display: block;
    margin: 1.8vw auto;
}

.post_display_short_text button p {
    font-size: 1.3em;
    color: #fafafa;
    margin: 0.1vw;
}

/* slider */

span {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: 0.1s;
}

span:hover {
    color: indianred;
}

#prev {
    position: relative;
    top: 50%;
    right: 2%;
    
}

#next {
    position: relative;
    top: 50%;
    left: 100%;
}

.post.active {
    display: block;
}

.self_style_button{
    margin-top: 8em;
}

.carousel_contol_self{
    font-size: 3vw;
}